include *.md
exclude *.png
exclude make_package.md
exclude .DS_Store
exclude .gitignore
exclude .travis.yml
recursive-include example *.lisp
recursive-include example *.py
recursive-include tests *.py
